<link rel="stylesheet" href="../css/calendar.css?__inline">
<div class="date-box">
    <article>
        <h5 class="date">选择日期</h5>
        <ul class="week">
            <li>日</li>
            <li>一</li>
            <li>二</li>
            <li>三</li>
            <li>四</li>
            <li>五</li>
            <li>六</li>
        </ul>
        <section class="firstM">
        </section>
        <section class="secondM">
        </section>
        <section class="thirdM">
        </section>
    </article>
    <div class="date-btn">
        <div class="fl date-cancel"  id="back">确定</div>
    </div>
</div>