<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no"/>
    <title>绑定账号</title>
    <link rel="stylesheet" href="../components/accout/css/accout.css">
</head>
<body>
    <div id="content"></div>
    <script type="text/javascript" src="http://assets.test.fanqiele.com/core/js/tomasky.core.all.js"></script>
    <script type="text/javascript" src="../static/js/mod.js"></script>
    <script type="text/javascript" src="../static/js/lib/lib.js"></script>
    <script>
        var accout = require('../components/accout/accout.js');
        accout.init();
    </script>
</body>
</html>