<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>对账</title>
    <link rel="stylesheet" href="../static/widget/bootstrap/css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="../static/widget/jq-ui-datepicker/jquery-ui.min.css">
    <link rel="stylesheet" href="../components/header/css/header.css">
    <link rel="stylesheet" href="../components/common/css/common.css">
    <link rel="stylesheet" href="../components/index/css/index.css">


</head>
<body>
<div id="header"></div>
<div id="content"></div>
<script type="text/javascript" src="http://assets.test.fanqiele.com/core/js/tomasky.core.all.js"></script>
<script type="text/javascript" src="../static/js/mod.js"></script>
<script type="text/javascript" src="../static/js/lib/lib.js"></script>
<script>
    var index=require('../components/index/index.js')
    index.init();
</script>
</body>
</html>