<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小站管理</title>
    <link rel="stylesheet" href="../static/widget/bootstrap/css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="../components/header/css/header.css">
    <link rel="stylesheet" href="../components/common/css/common.css">
</head>
<body>
<div id="header"></div>
<div id="content"></div>
<script type="text/javascript" src="http://assets.test.fanqiele.com/core/js/tomasky.core.all.js"></script>
<script type="text/javascript" src="../static/js/mod.js"></script>
<script type="text/javascript" src="../static/js/lib/lib.js"></script>
<script>
    var manage = require('../components/manage/manage.js')
    manage.init();
</script>
</body>
</html>