<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no"/>
    <title>报表查看</title>
    <link rel="stylesheet" href="../components/report/css/report.css">
</head>
<body>
    <div id="content"></div>
    <script type="text/javascript" src="http://assets.test.fanqiele.com/core/js/tomasky.core.all.js"></script>
    <script type="text/javascript" src="../static/js/mod.js"></script>
    <script type="text/javascript" src="../static/js/lib/lib.js"></script>
    <script>
        var report = require('../components/report/report.js');
        report.init();
    </script>
</body>
</html>