var COMMON = require('../../common/js/common.js');
var CONST = require('../../common/const.js');
var vm_accout = avalon.define({
    $id : 'vm_accout',
    init: function () {
        // 初始化时清空账号和密码
        $("#hotelAccount").val("");
        $("#password").val("");
    },
    bindAccout:function(){
        var hotelAccount =$("#hotelAccount").val();
        var password =$("#password").val();
        if(hotelAccount==""){
            $.alert('请输入账号！');
            return
        }
        if(password==""){
            $.alert('请输入密码！');
          return
        }
        var weChatId = COMMON.COMMONuTIL.getQueryString('weChatId');
        $.showPreloader();
        $.ajax({
            type : 'GET',
            dataType: 'json',
            url :CONST.DOMAIN.WX_SERVER + '?operation=Bind&weChatId=' + weChatId+"&loginName="+hotelAccount+"&password="+password,
            error : function () {
                $.hidePreloader();
                $.alert('绑定账号出现错误');
            },
            success : function (res) {
                $.hidePreloader();
                if (res._MSG_ && res._MSG_.split(",")[0] == "OK") {
                    $.alert('绑定账号成功');
                    // window.location.href="jump.html"
                }else{
                    $.alert(res._ERRORMESSAGE_);
                }
            }
        })

    }
});
