<!--小站管理-->
<div ms-controller="vm_manage">
    <div class="fr accordion">

        <select name="" style="margin-bottom: 0" ms-duplex="datas.item">
            <option value="innId">PMS客栈ID</option>
            <option value="innName">客栈名称</option>
        </select>
        <input type="text" class="search-query" ms-duplex="datas.txt">
        <button class="btn" ms-click="getInnInfo(1)">搜索</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>PMS客栈id</th>
            <th>目的地</th>
            <th>客栈名称</th>
            <th>设置手续费收取比例</th>
        </tr>
        </thead>
        <tbody>
        <tr ms-repeat-el="list" ms-if="list.length">
            <td>{{el.id}}</td>
            <td>{{cityTransform(el.regionId)}}</td>
            <td>{{el.name}}</td>
            <td>
                <a ms-click="operateDialog(true,el,el.poundageRatio,$index)">
                    {{el.poundageRatio*100 || 0}}%
                </a>
            </td>
        </tr>
        <tr ms-if="!list.length">
            <td colspan="4">暂无查询信息！</td>
        </tr>
        </tbody>
    </table>
    <div id="managePage"></div>

    <!--设置手续费率弹框-->
    <div ms-visible="manageDialog">
        <div class="modal-backdrop fade in"></div>
        <div class="modal fade in" style="width: 400px;margin: 0 auto">
            <div class="modal-header">
                <button class="close" ms-click="operateDialog(false)"></button>
                <h4>设置手续费收取比例</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                手续费比例：<input type="text" ms-duplex="curScale">%
            </div>
            <div class="modal-footer" style="text-align: center">
                <button class="btn btn-primary" ms-click="setPoundage()">确定</button>
                <button class="btn" ms-click="operateDialog(false)">取消</button>
            </div>
        </div>
    </div>

</div>
