<div class="" ms-controller="vm_index">
    <!--left-->
    <div class="accordion fl" style="width: 180px;position: absolute" ms-visible="!baseInfo.fxUnion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#menu" href="#collapse23" title="">
                    <i class="icon-chevron-down"></i>&nbsp;对账管理
                </a>
            </div>
            <div class="accordion-body collapse in">
                <div class="accordion-inner">
                    <ul class="nav nav-list">
                        <li ms-class="active:baseInfo.payRecord" ms-click="changeTab('payRecord')">
                            <a><i class="icon-circle-arrow-right"></i>&nbsp;支付流水记录</a>
                        </li>

                        <li ms-class="active:baseInfo.dsAccount" ms-click="changeTab('dsAccount')">
                            <a><i class="icon-circle-arrow-right"></i>&nbsp;番茄代收对账</a>
                        </li>

                        <li ms-class="active:baseInfo.fxAccount" ms-click="changeTab('fxAccount',1)">
                            <a><i class="icon-circle-arrow-right"></i>&nbsp;分销对账</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--right-->
    <div class="fl container-fluid" style="width:88%;min-width: 1136px;padding-left: 200px">
        <!--支付流水记录-->
        <div ms-visible="baseInfo.payRecord">
            <div class="fr accordion">
                支付时间：
                <input id="payFrom" class="select-time"
                       ms-duplex="payDatas.from" placeholder="开始时间"/>至
                <input id="payTo" class="select-time" placeholder="结束时间"
                       ms-duplex="payDatas.to"/>
                <select name="" style="margin-bottom: 0;width: 130px" ms-duplex="payDatas.searchType">
                    <option value="innId">PMS客栈ID</option>
                    <option value="orderNo">订单号</option>
                    <option value="tradeNo">交易流水号</option>
                </select>
                <input type="text" class="search-query" ms-duplex="payDatas.searchText">
                <button class="btn" ms-click="getPayRecordsCount()">搜索</button>
                <a ms-click="getPayRecordsCount('payTable')" class="btn">导出</a>
            </div>
            <table class="table" id="payTable">
                <thead>
                <tr>
                    <th>客栈名称</th>
                    <th>PMS客栈id</th>
                    <th>
                        <select class="th-select" ms-duplex="payDatas.productCode" ms-change="getPayRecordsCount(1)">
                            <option value="">产品类型</option>
                            <option value="xz_order">小站下单</option>
                            <option value="new_xz_order">番茄小站下单</option>
                            <option value="fqfx_order">番茄分销下单</option>
                            <option value="msg_recharge"> 短信充值</option>
                            <option value="checkstand">扫码支付</option>
                        </select>
                    </th>
                    <th>订单号</th>
                    <th>交易流水号</th>
                    <th>商户订单号</th>
                    <th>
                        <select name="" class="th-select" ms-duplex="payDatas.payType"
                                ms-change="getPayRecordsCount(1)">
                            <option value="">交易类型</option>
                            <option value="1">支付</option>
                            <option value="2">全额退款</option>
                            <option value="3">部分退款</option>
                        </select>
                    </th>
                    <th>备注信息</th>
                    <th>订单金额</th>
                    <th>折扣金额</th>
                    <th>退款金额</th>
                    <th>实付金额</th>
                    <th>手续费</th>
                    <th>结算金额</th>
                    <th>支付时间</th>
                    <th>离店日期</th>
                    <th>
                        <select name="" class="th-select" ms-duplex="payDatas.isBalance"
                                ms-change="getPayRecordsCount(1)">
                            <option value="">结算状态</option>
                            <option value="0">未平账</option>
                            <option value="1">已平账</option>
                            <option value="-1">无需结算</option>
                        </select>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ms-repeat-el="payList" ms-if="payList.length">
                    <td>{{el.innName}}</td>
                    <td>{{el.pmsInnId}}</td>
                    <td>{{checkType(el.productCode)}}</td>
                    <td>{{el.orderCode}}</td>
                    <td style="vnd.ms-excel.numberformat:@">{{el.tradeNo}}</td>
                    <td>{{el.mainOrderNo}}</td>
                    <td>{{payType(el.payType)}}</td>
                    <td>{{el.payDesc}}</td>
                    <td>{{el.originalAmount + el.deductPrice}}</td>
                    <td>{{el.deductPrice}}</td>
                    <td>{{parseFloat(el.originalAmount - el.payPrice).toFixed(2)}}</td>
                    <td>{{el.payPrice}}</td>
                    <td>{{el.chargePrice}}</td>
                    <td>{{el.settlementPrice}}</td>
                    <td style="vvnd.ms-excel.numberformat:yyyy-mm-dd hh:mm:ss;">{{el.payAt}}</td>
                    <td style="vvnd.ms-excel.numberformat:yyyy-mm-dd hh:mm:ss;">{{el.settleAt}}</td>
                    <td>
                        {{isBalance(el.isBalance)}}
                    </td>
                </tr>
                <tr ms-if="!payList.length">
                    <td colspan="16" style="text-align: center">暂无查询信息！</td>
                </tr>
                </tbody>
            </table>
            <div class="tcdPageCode" id="payPage"></div>
            <p class="f-12">截止您所选时间段内，共有 <span class="ft-col-red">{{payCount.orderNum}}</span> 个订单，实收总金额为 <span
                    class="ft-col-red">{{payCount.getMoney}}</span> 元。</p>

        </div>
        <!--番茄代收对账-->
        <div ms-visible="baseInfo.dsAccount">
            <div class="fr accordion">
                <select name="" style="margin-bottom: 0;width: 130px" ms-duplex="dsDatas.timeType">
                    <!--<option value="payAt">支付日期</option>-->
                    <option value="settleAt">离店日期</option>
                </select>
                ：
                <input id="dsFrom" class="select-time"
                       ms-duplex="dsDatas.from" placeholder="开始时间"/>至
                <input id="dsTo" class="select-time" placeholder="结束时间"
                       ms-duplex="dsDatas.to"/>

                <select name="" style="margin-bottom: 0;width: 130px" ms-duplex="dsDatas.searchType">
                    <option value="innId">PMS客栈ID</option>
                    <option value="orderNo">订单号</option>
                    <option value="tradeNo">交易流水号</option>
                </select>
                <input type="text" class="search-query" ms-duplex="dsDatas.searchText">
                <button class="btn" ms-click="getDsCount()">搜索</button>
                <button class="btn" ms-click="getDsCount('dsTable')">导出</button>
            </div>
            <table class="table" id="dsTable">
                <thead>
                <tr>
                    <th>客栈名称</th>
                    <th>pms客栈id</th>
                    <th style="width: 250px">收款信息</th>
                    <th>
                        <select name="" class="th-select" ms-duplex="dsDatas.productCode"
                                ms-change="getDsCount()">
                            <option value="">进账方式</option>
                            <option value="xz_order">小站下单</option>
                            <option value="checkstand">扫码支付</option>
                            <option value="new_xz_order">番茄小站下单</option>
                            <option value="fqfx_order">番茄分销下单</option>
                        </select>
                    </th>
                    <th>支付方式</th>
                    <th>订单号</th>
                    <th>交易流水号</th>
                    <th>商户订单号</th>
                    <th>第三方手续费</th>
                    <th>订单金额</th>
                    <th>折扣金额</th>
                    <th>退款金额</th>
                    <th>实付金额</th>
                    <th>手续费</th>
                    <th>结算金额</th>
                    <th>支付时间</th>
                    <th>离店日期</th>
                    <th>小计</th>
                    <th>
                        <select name="" class="th-select" ms-duplex="dsDatas.isBalance" ms-change="getDsCount()">
                            <option value="">操作</option>
                            <option value="0">未平账</option>
                            <option value="1">已平账</option>
                        </select>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ms-if="dsList.length" ms-repeat-el="dsList" ms-repeat-elem="el.payRecords">
                    <td ms-if-loop="$index==0" ms-attr-rowspan="el.payRecords.length">{{el.name}}</td>
                    <td ms-if-loop="$index==0" ms-attr-rowspan="el.payRecords.length">{{el.pmsInnId}}</td>
                    <td ms-if-loop="$index==0" ms-attr-rowspan="el.payRecords.length">
                        {{el.alipayCode}}&nbsp;{{el.alipayUser}}</br>
                        {{el.tenpayCode}}&nbsp;{{el.tenpayUser}}</br>
                        {{el.bankType==1?'个人':'公司账户'}}{{el.bankCode}}{{el.bankAccount}}&nbsp;{{el.bankName}}({{el.bankProvince}}/{{el.bankCity}}/{{el.bankRegion}})</br>
                    </td>
                    <td>{{checkType(elem.productCode)}}</td>
                    <td>{{toPayMode(elem.payMode)}}</td>

                    <td>{{elem.orderCode}}</td>
                    <td style="vnd.ms-excel.numberformat:@">{{elem.tradeNo}}</td>
                    <td>{{elem.mainOrderNo}}</td>
                    <td>{{parseFloat(elem.thirdProcedure).toFixed(2)}}</td>
                    <td>{{elem.orderPrice}}</td>
                    <td>{{elem.deductPrice}}</td>
                    <td>{{parseFloat(elem.originalAmount - elem.payPrice).toFixed(2)}}</td>
                    <td>{{elem.payPrice}}</td>
                    <td>{{elem.chargePrice}}</td>
                    <td>{{elem.settlementPrice}}</td>
                    <td style="vvnd.ms-excel.numberformat:yyyy-mm-dd hh:mm:ss;">{{elem.payAt}}</td>
                    <td style="vvnd.ms-excel.numberformat:yyyy-mm-dd hh:mm:ss;">{{elem.settleAt}}</td>
                    <td ms-if-loop="el.norowStatus && el.hasrowStatus && $index==0"
                        ms-attr-rowspan="elem.isBalance==0?el.noBalanceNum:el.hasBalanceNum">
                        {{elem.isBalance==0?el.noBalanceTotalPrice:el.hasBalanceTotalPrice}}
                    </td>
                    <td ms-if-loop="el.norowStatus && el.hasrowStatus && $index==el.hasBalanceNum && elem.isBalance==0"
                        ms-attr-rowspan="el.noBalanceNum">
                        {{elem.isBalance==0?el.noBalanceTotalPrice:el.hasBalanceTotalPrice}}
                    </td>

                    <td ms-if-loop="el.norowStatus && !el.hasrowStatus && $index==0" ms-attr-rowspan="el.noBalanceNum">
                        {{elem.isBalance==0?el.noBalanceTotalPrice:el.hasBalanceTotalPrice}}
                    </td>

                    <td ms-if-loop="!el.norowStatus && el.hasrowStatus && $index==0" ms-attr-rowspan="el.hasBalanceNum">
                        {{elem.isBalance==0?el.noBalanceTotalPrice:el.hasBalanceTotalPrice}}
                    </td>

                    <td ms-if-loop="el.norowStatus && el.hasrowStatus && $index==0"
                        ms-attr-rowspan="elem.isBalance==0?el.noBalanceNum:el.hasBalanceNum">
                        {{elem.isBalance==0?'未平账':'已平账'}}
                    </td>
                    <td ms-if-loop="el.norowStatus && el.hasrowStatus && $index==el.hasBalanceNum"
                        ms-attr-rowspan="el.noBalanceNum">
                        <a ms-click="openBalanceDialog(el.id,elem.orderCode,el.noBalanceNum)">未平账</a>
                    </td>

                    <td ms-if-loop="el.norowStatus && !el.hasrowStatus && $index==0" ms-attr-rowspan="el.noBalanceNum">
                        <a ms-click="openBalanceDialog(el.id,elem.orderCode,el.noBalanceNum)">{{elem.isBalance==0?'未平账':'已平账'}}</a>
                    </td>

                    <td ms-if-loop="!el.norowStatus && el.hasrowStatus && $index==0" ms-attr-rowspan="el.hasBalanceNum">
                        {{elem.isBalance==0?'未平账':'已平账'}}
                    </td>

                </tr>
                <tr ms-if="!dsList.length">
                    <td colspan="17" style="text-align: center">暂无查询信息！</td>
                </tr>
                </tbody>
            </table>
            <div class="tcdPageCode" id="dsPage"></div>
            <p class="f-12">
                截止您所选时间段内，共有 <span class="ft-col-red">{{dsCount.totalOrderNum}}</span> 个订单，
                实付总金额为 <span class="ft-col-red">{{dsCount.paidAmount}}</span> 元，
                结算总金额为 <span class="ft-col-red">{{parseFloat(dsCount.paidAmount-dsCount.poundageAmount).toFixed(2)}}</span> 元 ,
                未结算订单数<span class="ft-col-red">{{dsCount.unliqOrderNum}}</span>个，
                未结算实付总金额<span class="ft-col-red">{{dsCount.unliqPaidAmount}}</span>元，
                未结算金额为<span class="ft-col-red">{{parseFloat(dsCount.unliqPaidAmount-dsCount.unliqPoundageAmount).toFixed(2)}}</span>元。
            </p>

            <!--确定平账弹框-->
            <div id="dsBalanceDialog" class="u-dialog">
                <div class="modal-backdrop fade in"></div>
                <div class="modal fade in" style="width: 300px;margin: 0 auto">
                    <div class="modal-header">
                        <button class="close" ms-click="cloceBalanceDialog()"></button>
                        <h4>平账</h4>
                    </div>
                    <div class="modal-body" style="text-align: center">
                        <h5>确定要手动平账？</h5>

                    </div>
                    <div class="modal-footer" style="text-align: center">
                        <button class="btn btn-primary" ms-click="toBalance()">确定</button>
                        <button class="btn" ms-click="cloceBalanceDialog()">取消</button>
                    </div>
                </div>
            </div>

        </div>
        <!--分销对账-->
        <div ms-visible="baseInfo.fxAccount">
            <div class="fr accordion">
                离店日期：
                <input id="fxFrom" class="select-time"
                       ms-duplex="fxDatas.from" placeholder="开始时间"/>至
                <input id="fxTo" class="select-time" placeholder="结束时间"
                       ms-duplex="fxDatas.to"/>
                <button class="btn" ms-click="ajaxFx()">搜索</button>
                <button class="btn" ms-click="excelTab('fxTable')">导出</button>
            </div>
            <table class="table" id="fxTable">
                <thead>
                <tr>
                    <th>联盟商名称</th>
                    <th>客栈数</th>
                    <th>订单总数</th>
                    <th>订单总金额</th>
                    <th>代销结算金额</th>
                </tr>
                </thead>
                <tbody>
                <tr ms-repeat-el="fxUnionList" ms-if="fxUnionList.length">
                    <td>
                        <a ms-click="getOrderStatements(1,$index)">{{el.name}}</a></td>
                    <td>{{el.innNum}}</td>
                    <td>{{el.orderNum}}</td>
                    <td>{{el.totalFee}}</td>
                    <td>{{parseFloat(el.totalFee*el.commissionRatio).toFixed(2)}}</td>
                </tr>
                <tr ms-if="!fxUnionList.length">
                    <td colspan="5" style="text-align: center">暂无查询信息！</td>
                </tr>
                </tbody>
            </table>
            <div id="fxPage"></div>
            <p class="f-12">共计<span class="ft-col-red">{{fxCount.unionNum}}</span>个联盟，
                共<span class="ft-col-red">{{fxCount.orderCount}}</span>个订单，
                订单总金额为<span class="ft-col-red">{{fxCount.orderPriceCount}}</span>元，
                代销结算总金额为<span class="ft-col-red">{{parseFloat(fxCount.dxPriceCount).toFixed(2)}}</span>元。</p>

        </div>

    </div>
    <!--分销对账（联盟商信息）-->
    <div ms-visible="baseInfo.fxUnion">
        <button class="btn" ms-click="changeTab('fxAccount')"><i class="icon-back"></i>返回</button>
        <div class="fr accordion">
            <select name="" style="margin-bottom: 0;width: 130px" ms-duplex="fxUnionDatas.searchType">
                <option value="innId">PMS客栈ID</option>
                <option value="innName">客栈名称</option>
                <option value="orderNo">订单号</option>
            </select>
            <input type="text" class="search-query" ms-duplex="fxUnionDatas.searchText">
            <button class="btn" ms-click="getOrderStatements(1)">搜索</button>
            <button class="btn" ms-click="excelTab('fxUnionTable')">导出</button>
        </div>
        <table class="table" id="fxUnionTable">
            <thead>
            <tr>
                <th>城市</th>
                <th>客栈名称</th>
                <th>pms客栈id</th>
                <th>订单号</th>
                <th>预订人</th>
                <th>房型</th>
                <th>房间数</th>
                <th>订单金额</th>
                <th>代销结账金额</th>
                <th>住离日期</th>
                <th>下单时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ms-repeat-el="oneInnUnion" ms-if="oneInnUnion.length">
                <td>{{cityTransform(el.regionId)}}</td>
                <td>{{el.innName}}</td>
                <td>{{el.pmsInnId}}</td>
                <td>{{el.orderNo}}</td>
                <td>{{el.userName}}&nbsp;&nbsp;{{el.contact}}</td>
                <td>{{el.roomTypeName}}</td>
                <td>{{el.roomTypeNum}}</td>
                <td>{{el.totalAmount}}</td>
                <td>{{el.totalAmount*el.commissionRatio}}</td><!--代销结账金额=总金额*佣金比率-->
                <td>{{el.checkInAt}}~{{el.checkOutAt}}</td>
                <td>{{el.createdAt}}</td>
            </tr>
            <tr ms-if="!oneInnUnion.length">
                <td colspan="11" style="text-align: center">暂无查询信息！</td>
            </tr>
            </tbody>
        </table>
        <div id="fxUnionPage"></div>
        <p>共计<span class="ft-col-red">{{oneInnUnionCount.innNum}}</span>个客栈，
            共<span class="ft-col-red">{{oneInnUnionCount.orderNum}}</span>个订单，
            订单总金额为<span class="ft-col-red">{{oneInnUnionCount.totalFee}}</span>元，
            代销结算总金额为<span class="ft-col-red">{{parseFloat(oneInnUnionCount.totalFee*oneInnUnionCount.commissionRatio).toFixed(2)}}</span>元。
        </p>

    </div>

</div>
