<div  ms-controller="vm_accout">
    <div class="main">
        <div class="accout-header">
            <div class="accout-img">
                <img src="../img/bitmap.png" alt="" />
            </div>
        </div>
        <div class="accout-input">
            <div class="accout-box">
                <input type="text" placeholder="请输入你的账号" >
            </div>
             <div class="line"></div>
            <div class="accout-ps">
                <input type="password" placeholder="请输入账号密码">
            </div>

        </div>
        <div class="accout-footer">
            <div  class="accout-footer-btn">
                立即绑定
            </div>

        </div>
    </div>
</div>