.f-12 {
    font-size: 12px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

.f-20 {
    font-size: 20px;
}

.f-22 {
    font-size: 22px;
}

.f-24 {
    font-size: 24px;
}

.f-26 {
    font-size: 26px;
}

.f-28 {
    font-size: 28px;
}

.f-30 {
    font-size: 30px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.f-bold{
    font-weight: bold;
}

#header{
    height: 42px;
    margin: 0 0 10px;
}
#header .brand{
    font-family: Helvetica, Georgia, Arial, sans-serif, 黑体;
    font-size: 26px;
    padding-left: 33px;
}
