var COMMON = require('../../common/js/common.js');
var CONST = require('../../common/const.js');
var calendar = require('../../calendar/calendar.js');

var vm_report = avalon.define({
    $id : 'vm_report',
    from: '',
    to: '',
    init: function () {
        var vm = vm_report;
        vm.from = COMMON.DATE.plusDate(COMMON.DATE.today(), -6, 'd', 'yyyy-MM-dd');
        vm.to = COMMON.DATE.today();
        calendar.init(function (_from, _to) {
            vm.from = _from;
            vm.to = _to;
            vm.renderReport();
        });
        vm.renderReport();
    },
    renderReport: function () {
        var myChart = echarts.init(document.getElementById('charts'));
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            // toolbox: {
            //     feature: {
            //         dataView: {show: true, readOnly: false},
            //         magicType: {show: true, type: ['line', 'bar']},
            //         restore: {show: true},
            //         saveAsImage: {show: true}
            //     }
            // },
            legend: {
                data:['蒸发量','降水量']
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['1月','2月','3月','4月','5月','6月','7月'],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '水量',
                    min: 0,
                    max: 250,
                    interval: 50,
                    axisLabel: {
                        formatter: '{value} ml'
                    }
                },
                {
                    type: 'value',
                    name: '温度',
                    min: 0,
                    max: 25,
                    interval: 5,
                    axisLabel: {
                        formatter: '{value} °C'
                    }
                }
            ],
            series: [
                {
                    name:'蒸发量',
                    type:'bar',
                    data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6]
                },
                {
                    name:'降水量',
                    type:'bar',
                    data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6]
                }
                // ,
                // {
                //     name:'平均温度',
                //     type:'line',
                //     yAxisIndex: 1,
                //     data:[2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
                // }
            ]
        };
        myChart.setOption(option);
    },
    openCalender: function () {
        var $calendar = $('#calendar');
        $calendar.show();
        // $calendar.css({display : 'block', opacity : 0});
        // $calendar.animate({opacity : 1}, 500, 'ease-out');
        calendar.updateSelectDateState(vm_report.from, vm_report.to);
    }
});