var COMMON = require('../../common/js/common.js');
var CONST = require('../../common/const.js');
var calendar = require('../../calendar/calendar.js');

var vm_report = avalon.define({
    $id: 'vm_report',
    from: '',
    to: '',
    init: function () {
        var vm = vm_report;
        vm.from = COMMON.DATE.plusDate(COMMON.DATE.today(), -6, 'd', 'yyyy-MM-dd');
        vm.to = COMMON.DATE.today();
        calendar.init(function (_from, _to) {
            vm.from = _from;
            vm.to = _to;
            vm.renderReport();
        });
        vm.renderReport();
    },
    renderReport: function () {
        var openId = "oM3lKwdXjmdOS-lPaewtT_vWVQO8";
        $.showPreloader();
        $.ajax({
            type : 'GET',
            dataType: 'json',
            url : CONST.DOMAIN.WX_SERVER + '?operation=Report&weChatId=' + openId + "&beginTime=" + vm_report.from.replace(/-/g, "") + "&endTime=" + vm_report.to.replace(/-/g, ""),
            error : function () {
                $.hidePreloader();
                $.alert('查询报表出现错误');
            },
            success : function (res) {
                $.hidePreloader();
                if (res._MSG_ && res._MSG_.split(",")[0] == "OK") {
                    var dates = [], dateDatas = [];
                    var diffDay = COMMON.DATE.getDatePeriod(vm_report.from, vm_report.to, 'd');
                    for (var i = 0; i < diffDay + 1; i++) {
                        dates.push(COMMON.DATE.plusDate(vm_report.from, i, 'd', 'MM-dd'));
                        dateDatas.push(COMMON.DATE.plusDate(vm_report.from, i, 'd', 'yyyyMMdd'));
                    }
                    var finances = [], percents = [];
                    for (var i = 0; i < dateDatas.length; i++) {
                        for (var j = 0; j < res.data_fangfei.length; j++) {
                            if (res.data_fangfei[j].ORDER_DATE == dateDatas[i]) {
                                finances.push((res.data_fangfei[j].fangfei / 100).toFixed(2));
                                break;
                            }
                        }
                    }
                    for (var i = 0; i < dateDatas.length; i++) {
                        for (var j = 0; j < res.data_chuzulu.length; j++) {
                            if (res.data_chuzulu[j].ORDER_DATE == dateDatas[i]) {
                                percents.push((res.data_chuzulu[j].INROOMNUM * 100 / res.data_chuzulu[j].ROOMNUM).toFixed(2));
                                break;
                            }
                        }
                    }
                    var myChart = echarts.init(document.getElementById('charts'));
                    var option = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                crossStyle: {
                                    color: '#999'
                                }
                            }
                        },
                        legend: {
                            data: ['出租率', '房费收入']
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: dates,
                                axisPointer: {
                                    type: 'shadow'
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                name: '出租率',
                                axisLabel: {
                                    formatter: '{value} %'
                                }
                            },
                            {
                                type: 'value',
                                name: '房费收入',
                                axisLabel: {
                                    formatter: '{value} 元'
                                }
                            }
                        ],
                        series: [
                            {
                                name: '出租率',
                                type: 'line',
                                yAxisIndex: 0,
                                data: percents
                            },
                            {
                                name: '房费收入',
                                type: 'bar',
                                yAxisIndex: 1,
                                data: finances
                            }
                        ]
                    };
                    myChart.setOption(option);
                } else
                    $.alert(res._ERRORMESSAGE_);
            }
        });
    },
    openCalender: function () {
        var $calendar = $('#calendar');
        $calendar.show();
        // $calendar.css({display : 'block', opacity : 0});
        // $calendar.animate({opacity : 1}, 500, 'ease-out');
        calendar.updateSelectDateState(vm_report.from, vm_report.to);
    }
});