var COMMON = require('../../common/js/common.js');
var CONST = require('../../common/const.js');
var vm_report = avalon.define({
    $id : 'vm_report',
    from: '',
    to: '',
    init: function () {
        var vm = vm_report;
        vm.from = tmsky.date.plusDate(COMMON.DATE.today(), -6, 'd', 'yyyy-MM-dd');
        vm.to = COMMON.DATE.today();
        vm.renderReport();
    },
    renderReport: function () {
        var myChart = echarts.init(document.getElementById('charts'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
});