.th-select{
    width: 130px;
    margin-bottom: 0;
}
.icon-back{
    width: 16px;
    height: 16px;
    background: url("../img/icon_back.png") no-repeat center;
    background-size: 100% 100%;
    margin-right: 5px;
}
.table thead{
    font-size: 14px;
}
.table tbody{
    font-size: 12px;
}
#payTable th:nth-of-type(1){
    width: 100px;
}
#payTable th:nth-of-type(5){
    width: 210px;
}
#payTable th:nth-of-type(7){
    width: 260px;
}
#dsTable th:nth-of-type(4){
    /*width: ;*/
}